@charset "UTF-8";
<<<<<<< HEAD
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --aqua: #00CCCC;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}
=======

*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --aqua: #00CCCC;
}

body {
    margin: 0;
    padding: 0;
}
>>>>>>> c2995bf0eee7756d959af3801005e4316a6731bf
