@charset "UTF-8";

*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --green: #47F7B6;
  --white: #F1F2F6;
  --black: #1D1D1D;
  --blue: #AEB8FE;
  --gradient: rgba(241, 242, 246, 0.2);
  font-size: 16px;
}

@font-face {
  font-display: swap;
  font-family: "Broaek - Thin";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Broaek - Thin.ttf") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Broaek- Outline";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Broaek- Outline.ttf") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Broaek - Thin";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Broaek- Regular.ttf") format("woff2");
}

body {
  margin: 0;
  padding: 0;
}