@charset "UTF-8";

body {
  background: linear-gradient(
      240deg,
      rgba(17, 17, 17, 0.815) 10%,
      rgb(0, 0, 0) 90%
    )
    no-repeat center center fixed;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --green: #47f7b6;
  --white: #f1f2f6;
  --black: #1d1d1d;
  --blue: #aeb8fe;
  --grey: #dedede;
  --darkGrey: #837f7fb9;
  --gradient: rgba(67, 69, 77, 0.521);
  font-size: 16px;
}

@font-face {
  font-display: swap;
  font-family: "Broaek - Thin";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Broaek - Thin.ttf") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Broaek- Outline";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Broaek- Outline.ttf") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Broaek - Thin";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Broaek- Regular.ttf") format("woff2");
}

.header-container {
  background-color: var(--black);
  display: grid;
  grid-template-columns: 70% 30%;
  height: 92px;
  border-bottom: var(--white) 1px solid;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.3rem;
  margin-right: 50px;
  gap: 50px;
}

.header-logo {
  margin-top: 25px;
  margin-left: 30px;
}

.menu-toggle {
  height: 16px;
  width: 16px;
  margin-bottom: 10px;
  position: relative;
  overflow: visible;
  z-index: 2;

  .menu-toggle-bar,
  .menu-toggle-bar:before,
  .menu-toggle-bar:after {
    background: var(--green);
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }

  .menu-toggle-bar:before,
  .menu-toggle-bar:after {
    content: "";
  }

  .menu-toggle-bar:before {
    left: 0px;
    top: -10px;
    width: 27px;
  }

  .menu-toggle-bar {
    right: 0px;
    top: 13px;
    width: 27px;
  }

  .menu-toggle-bar:after {
    left: 0px;
    top: 10px;
    width: 27px;
  }

  &.close {
    .menu-toggle-bar:before {
      top: 0px;
      transform: rotate(90deg);
      width: 27px;
    }

    .menu-toggle-bar {
      transform: rotate(-45deg);
      top: 13px;
      width: 27px;
    }

    .menu-toggle-bar:after {
      top: 0px;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
    }
  }
}

#menu {
  z-index: 1;
  min-width: 90%;
  min-height: 50%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.2s ease-in-out;

  &.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: var(--black);
    border-radius: 1rem;
  }

  .menu-container {
    padding: 0;
  }

  .menu-container-lnk {
    color: var(--green);
    display: block;
    font-size: 2rem;
    margin-bottom: 30px;
    text-decoration: none;
    font-family: "Broaek - Thin";
  }
}

.main-ttl {
  color: var(--green);
  font-family: "Broaek - Thin";
  font-size: 2rem;
  text-align: left;
  text-transform: uppercase;
  margin-left: 2rem;
  margin-top: 5rem;
  line-height: 3rem;
}

.footer-container {
  background-color: var(--black);
  border-top: var(--white) 1px solid;
  display: grid;
  grid-template-rows: 30% 30% 30%;
  padding: 2rem;
  margin-bottom: 0;
}

.footer-txt {
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 4rem;
  line-height: 2rem;
}
.footer-lnk {
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
}
.footer-txt-dwn {
  margin-bottom: 5rem;
}
.footer-img {
  display: flex;
  justify-content: space-between;
}
.footer-soc-img {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 1.5rem;
}

.trail-create {
  padding: 2rem;
}

.trail-create-img {
  width: 100%;
}

.trail-create-ttl,
.trail-create-txt {
  font-family: "Broaek - Thin";
  color: var(--white);
  margin-bottom: 3rem;
}

.btn {
  background-color: var(--green);
  border: none;
  border-radius: 50px;
  color: var(--black);
  font-size: 1rem;
  padding: 10px 24px 10px 24px;
  margin-top: 1.5rem;
  max-width: 10rem;
}

.btn {
  display: inline-block;
  cursor: pointer;
  background-color: var(--green);
  border: none;
  border-radius: 50px;
  color: var(--black);
  font-size: 1rem;
  padding: 10px 24px 10px 24px;
  margin-top: 1rem;
  max-width: 12rem;
  text-shadow: 0px 1px 0px var(--green);
}

.btn:hover {
  background-color: var(--black);
  color: var(--white);
}

.btn:active {
  background-color: var(--green);
  position: relative;
  top: 1px;
}

.trail-card {
  padding: 1.5rem;
  background-color: var(--white);
  margin: 1rem 1rem 2rem 1rem;
  border-radius: 0.5rem;
}

.trail-card-img {
  width: 100%;
}

.trail-card-txt {
  color: var(--black);
  font-family: "Broaek - Thin";
}
.trail-card-ttl {
  font-size: 1.5rem;
  font-family: "Broaek - Thin";
}
.trail-info {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 2rem;
  /* justify-content: center; */
  align-items: center;
}

/*RANGE*/
.search-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
}
.search-input {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.search-input input {
  width: 90%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
}
.search-input button {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2ecc71;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.range-choice {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.range-choice label {
  margin-right: 10px;
  font-size: 14px;
}
.range-choice input[type="range"] {
  flex-grow: 1;
  margin-right: 10px;
}
.range-choice output {
  font-size: 14px;
  width: 30px;
  text-align: right;
}
.difficulty,
.mode {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}
.difficulty p,
.mode p {
  margin: 0;
  font-size: 14px;
  width: 70px;
}
.difficulty-options,
.mode-options {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.difficulty-options label,
.mode-options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}
.search-button {
  width: 100%;
  padding: 10px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.login-img,
.register-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.login-form {
  display: grid;
  grid-column: auto;
  margin: 2rem;
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 5px;
}
.form-input {
  border-radius: 5px;
  border: var(--darkGrey) 1px solid;
  height: 3rem;
  background-color: var(--white);
  padding-left: 1rem;
}
.form-label {
  margin-bottom: 1rem;
}
.login-btn,
.register-btn {
  background-color: var(--green);
  border: none;
  border-radius: 10px;
  color: var(--black);
  font-size: 1rem;
  padding: 10px 24px 10px 24px;
  margin-bottom: 1rem;
}
.login-btn2 {
  background-color: var(--green);
  border: none;
  border-radius: 10px;
  color: var(--black);
  font-size: 1rem;
  padding: 10px 24px 10px 24px;
  margin: 2rem;
  margin-left: 2rem;
  width: 80%;
}
.forgot-lnk {
  text-decoration: none;
  color: var(--black);
  font-size: 1rem;
}
.login-txt {
  margin-left: 2rem;
  color: var(--white);
  margin-bottom: 1rem;
  margin-top: 4rem;
}

.success-txt {
  color: var(--white);
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
  font-size: 1.5rem;
}

.message {
  color: var(--white);
  margin-left: 2rem;
}
.success-lnk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.success-home-lnk,
.success-txt2{
  color: var(--white);
}
.home-lnk {
  color: var(--white);
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 7rem;
}
