.main-ttl {
    color: var(--green);
    font-family: "Broaek - Thin";
    font-size: 2rem;
    text-align: left;
    text-transform: uppercase;
    margin-left: 2rem;
    margin-top: 5rem;
    line-height: 3rem;
  }