.login-img,
.register-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}


.login-btn {
    cursor: pointer;
    background-color: var(--green);
    border: none;
    border-radius: 10px;
    color: var(--black);
    font-size: 1rem;
    padding: 10px 24px 10px 24px;
    height: 49px;
    width: 107%;
    margin-top: -0.5rem;
    font-family: "CabinCondensed";
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
  .login-btn2 {
    background-color: var(--green);
    border: none;
    border-radius: 10px;
    color: var(--black);
    font-size: 1rem;
    padding: 10px 24px 10px 24px;
    margin: 2rem;
    margin-left: 2rem;
    width: 85%;
    height: 49px;
    font-family: "CabinCondensed";
    font-weight: 600;
  }

  .forgot-lnk {
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
    font-family: "CabinCondensed";
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .login-txt {
    margin-left: 2rem;
    color: var(--white);
    margin-bottom: 1rem;
    margin-top: 4rem;
    font-family: "CabinCondensed";
  }