// .search-form {
//     background-color: white;
//     padding: 20px;
//     border-radius: 10px;
//     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
//     margin: 1.5rem;
//   }
//   .search-input {
//     position: relative;
//     margin-bottom: 20px;
//     display: flex;
//     justify-content: center;
//   }
//   .search-input input {
//     width: 90%;
//     padding: 10px 40px 10px 10px;
//     border: 1px solid #ccc;
//     border-radius: 20px;
//     font-size: 14px;
//   }
//   .search-input button {
//     position: absolute;
//     right: 25px;
//     top: 50%;
//     transform: translateY(-50%);
//     background-color: #2ecc71;
//     border: none;
//     color: white;
//     padding: 5px;
//     border-radius: 50%;
//     cursor: pointer;
//   }
//   .range-choice {
//     margin-bottom: 20px;
//     display: flex;
//     align-items: center;
//   }
//   .range-choice label {
//     margin-right: 10px;
//     font-size: 14px;
//   }
//   .range-choice input[type="range"] {
//     flex-grow: 1;
//     margin-right: 10px;
//   }
//   .range-choice output {
//     font-size: 14px;
//     width: 30px;
//     text-align: right;
//   }
//   .difficulty,
//   .mode {
//     margin-bottom: 20px;
//     display: flex;
//     align-items: flex-start;
//   }
//   .difficulty p,
//   .mode p {
//     margin: 0;
//     font-size: 14px;
//     width: 70px;
//   }
//   .difficulty-options,
//   .mode-options {
//     display: flex;
//     justify-content: space-between;
//     flex-grow: 1;
//   }
//   .difficulty-options label,
//   .mode-options label {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     font-size: 14px;
//   }
//   .search-button {
//     width: 100%;
//     padding: 10px;
//     background-color: #2ecc71;
//     color: white;
//     border: none;
//     border-radius: 20px;
//     cursor: pointer;
//     font-size: 16px;
//   }

 /* border: 1px solid transparent; */
//  border-radius:{inherit;} 


input[type="search"]::placeholder {
  color: #bbb;
}
.search-form{
  width: 280px;
  background-color: var(--grey);
  border: none;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-left: .5rem;
}

.search-btn[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  background-color: var(--green);
  border-radius: 5rem;
  width:32px;
  height: 32px;
  cursor: pointer;
  border: none;
}

.search-btn[type="submit"]:hover {
  opacity: 1;
}

.search-btn[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}
.range-search-dy{
  display: flex;
  justify-content: center;
  align-items: center;
}


.range-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.range-choice {
  display: flex;
  gap: 10px;
  margin-top:1rem;
}
.range-choice_rd {
  display: flex;
  gap: 10px;
}
.range-choice_md {
  display: flex;
  gap: 10px;
}
.range-choice_md-lg{
  margin-right: .8rem;
}
.range-choice_md-ld{
  margin-right: .4rem;
}
.range_radio-ad{
  margin-right: .4rem;
}
.range-slider span{
  margin:0;
}

.range-slider {
  display: flex;
  align-items: center;
  gap: 10px;
  accent-color: var(--green);
}

.range_radio-alg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.range_radio-alg-v{
  margin-right: 1.7rem;
}

.range_radio-alg-f{
  margin-right: 2rem;
}

.range_radio-alg input {
  margin: 0;
}

input[type="range"] {
  width: 100%;
  appearance: none;
  height: 8px;
  accent-color: var(--green);
  border-radius: 5px;
  outline: none;
  opacity: 0.9;
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--grey);
  accent-color: var(--green);
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  accent-color: var(--green);
}

.range-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  color: var(--black);
  background-color: var(--green);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  width: min-content;
}
.range-btn_alg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.range-btn:hover {
  background-color: var(--black);
  color: var(--white);
}
