:root {
    --green: #47f7b6;
    --white: #f1f2f6;
    --black: #1d1d1d;
    --blue: #aeb8fe;
    --grey: #dedede;
    --darkGrey: #837f7fb9;
    --gradient: rgba(67, 69, 77, 0.521);
    font-size: 16px;
  }
   @font-face {
    font-display: swap;
    font-family: "CabinCondensed";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/CabinCondensed-Regular.ttf") format("woff2");
  }
  @font-face {
    font-display: swap;
    font-family: "Broaek - Thin";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Broaek - Thin.ttf") format("woff2");
  }
  
  @font-face {
    font-display: swap;
    font-family: "Broaek- Outline";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Broaek- Outline.ttf") format("woff2");
  }
  
  @font-face {
    font-display: swap;
    font-family: "Broaek - Thin";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Broaek- Regular.ttf") format("woff2");
  }
 